<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <title>teef!</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="app-container">
        <div class="title-container">
            <h1 id="title">teef</h1>
            <div class="title-edit-container" style="display: none;">
                <input type="text" id="titleInput" class="title-input">
                <button id="titleConfirm" class="title-confirm"><i class="fas fa-check"></i></button>
                <button id="titleCancel" class="title-cancel"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <div class="editor-container">
            <button id="prev"><i class="fas fa-arrow-left"></i></button>
            <div class="canvas-container">
                <canvas id="imageCanvas"></canvas>
                <canvas id="maskCanvas" style="display: none;"></canvas>
                <canvas id="overlayCanvas"></canvas>
                <div id="toast" class="toast-container"></div>
            </div>
            <button id="next"><i class="fas fa-arrow-right"></i></button>
        </div>
        <div class="controls">
            <div class="left-controls">
                <button id="clear"><i class="fas fa-x"></i></button>
                <button id="reload"><i class="fas fa-sync"></i></button>
            </div>
            <div class="center-controls">
                <div class="brush-controls">
                    <button id="overlayToggle"><i class="fa fa-eye"></i></button>
                    <div class="brush-size-controls">
                        <div id="brushPreview" class="brush-preview"></div>
                        <button id="decreaseBrush" class="brush-btn"><i class="fas fa-minus"></i></button>
                        <input type="range" id="brushSizeSlider" class="slider" min="2" max="50" value="10">
                        <button id="increaseBrush" class="brush-btn"><i class="fas fa-plus"></i></button>
                    </div>
                    <button id="toolToggle"><i class="fas fa-paint-brush"></i></button>
                </div>
            </div>
            <div class="right-controls">
                <button id="save"><i class="fas fa-save"></i></button>
            </div>
        </div>
    </div>
    <script src="static/app.js"></script>
</body>
</html>
