<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- App Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-ray Mask Editor</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="app-container">
        <h1 id="title">X-ray Mask Editor</h1>
        <div class="editor-container">
            <button id="prev">←</button>
            <div class="canvas-container">
                <canvas id="imageCanvas"></canvas>
                <canvas id="maskCanvas" style="display: none;"></canvas>
                <canvas id="overlayCanvas"></canvas>
                <div id="toast" class="toast-container"></div>
            </div>
            <button id="next">→</button>
        </div>
        <div class="controls">
            <button id="clear">❌</button>
            <div class="center-controls">
                <div class="brush-controls">
                    <div class="brush-size-controls">
                        <div id="brushPreview" class="brush-preview"></div>
                      <button id="decreaseBrush" class="brush-btn">➖</button>
                      <input type="range" id="brushSizeSlider" class="slider" min="2" max="50" value="10">
                      <button id="increaseBrush" class="brush-btn">➕</button>
                    </div>
                    <div class="spacer"></div>
                    <button id="toolToggle">🖌️</button>
                </div>
            </div>
            <div>
                <button id="save">💾</button>
            </div>
        </div>
    </div>
    <script src="static/app.js"></script>
</body>
</html>